<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Tracks {{titulo}}</title>
</head>

<body>
  <section>
    <ul>
      {% for track in tracks %}
        <li>
          <a href="{{track.get_absolute_url}}">{{track.title}}</a>
          {% if selected_track.id == track.id %}
            &lt;&lt;------------
          {% endif %}
        </li>              
      {% endfor %}      
    </ul>
    <p>
      Title: {{track.title}}
    </p>
    <p>
      Order: {{track.order}}
    </p>
    <p>
      File: {{track.track_file}}
    </p>
    <p>
      Album: {{track.album}}
    </p>
    <p>
      Artist: {{track.artist}} 
      <br>
      Biography: {{track.artist.biography}}
    </p>
  </section>
</body>

</html>
